# Dependency directories
node_modules/
coverage/
# Environment variables
.env
hrms*
# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# SQLite database files
*.db
*.sqlite
*.sqlite3

# OS specific files
.DS_Store
Thumbs.db
